<!--See grunt server:dev or whatever
Integrate slider
-->
<div>
  <p>
    API Functions (SLOWLY) {{search.results[0].school.name}}
  </p>
</div>
<div class="searchFields">
  <div id="accordion">
    <div class="panel">
      <!--glyphicon glyphicon-chevron-down        -->
      <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
            Filter 1
        </a>
      <div id="collapse1">
        Content for filter 1
      </div>
    </div>
    <div class="panel">
      <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
            Like (or not) me
        </a>
      <div id="collapse2" class="collapse in">
        <p>Acceptance Rates</p>
        <p>Test Scores</p>
        <p>% By Race/Ethnicity</p>
        <p>% First Generation</p>
        <p>% Pell Grant Recipients</p>
      </div>
      <div class="panel">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
            Cost of Attendance
        </a>
        <div id="collapse2" class="collapse in">
          <p>Average Cost of Attendance</p>
          <p>Tutiton and Fees</p>
          <p>Average Net Price, by Income Level</p>
          <p>Debt at Graduation</p>
          <p>Estimated monthly loan payments</p>
          
        </div>
      </div>
            <div class="panel">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
            Completions and Post-Graduation Outcomes
        </a>
        <div id="collapse2" class="collapse in">
          <p>Completions rates for First Time-Full-Time Freshmen</p>
          <p>200 percent completion rates</p>
          <p>Post-graduation Earnings (7 years from graduation)</p>
          <p>Post-graduation Earnings (3 years from graduation)</p>
          <p>Post-graduation Earnings (1 year from graduation)</p>
          <p>Share of Former Students Earning Over $25,000</p>
          
        </div>
      </div>
    </div>
  </div>
  <div class="map" >
    <H1>MAP </H1>
<div class = "angular-google-map-container">
   <ui-gmap-google-map center="map.center" zoom="map.zoom"></ui-gmap-google-map>
    </div>
     
  <H1>MAP 2</H1>   
<map ng-transclude class='google-map' center='map.center'> 
  <marker position='marker.position'></marker>
</map>
  </div>
  <div class="results">
  </div>

  <div class="saved grid">
  </div>