<!--See grunt server:dev or whatever
Integrate slider
-->



<div class="searchFields">
  
  <h1>Find a School</h1>
<p class="lead">
  <div ng-init="school='Seattle University'">
    <p>
      <label for="school">School:
<input type="text" name="school" ng-model="school">
</label>
    </p>
    <p>
    <button class="btn btn-lg btn-primary" ng-click="findSchools()">Find Schools</button>
    </p>
    
    
  </div>
<!-- Drop down test   -->
  
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Degree Test
          <span class="caret"></span>
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li ng-repeat="a in degree"><a ng-click="degreeselected()">{{a}}</a></li>
        </ul>
   </div>

  <div ng-if="searchQuery">
   
 <dl ng-repeat="schools in schoolFound.results">
<!--      <dt>E: {{name}}</dt> -->
   <dt>F: {{schools.school.name}}</dt>
     <dt>G: {{schools.id}}</dt>
     
      
    </dl>
           <table>
            <tr>
                <th>Schools:</th>
                <th ng-repeat="schools in schoolFound.results">{{schools.school.name}}</th>
            </tr>
            <tr ng-repeat="key in keys">
            <td>ID:</td>
                <td ng-repeat="schools in schoolFound.results">{{schools.id}}</td> </tr>
            <tr ng-repeat="key in keys">
              <td>URL:</td>
                <td ng-repeat="schools in schoolFound.results">{{schools.id}}</td>
            </tr>
            
             
                       

        </table>
    
<table>
            <tr>
                <th>Schools:</th>
                <th ng-repeat="schools in schoolFound.results">{{schools.school.name}}</th>
            </tr>
            <tr ng-repeat="schools in schoolFound.results">
            <td>ID:</td>
                <td>{{schools.id}}</td>
              </tr>
  <tr>
              <td>URL:</td>
                <td ng-repeat="schools in schoolFound.results">{{schools.school_url}}</td>
            </tr>
            
             
                       

        </table>    
  </div>

  <!--glyphicon glyphicon-chevron-down        -->
<!--   <div id="accordion">
    <div class="panel">
      
      <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
            Filter 1
        </a>
      <div id="collapse1">
        Content for filter 1
      </div>
    </div>
    <div class="panel">
      <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
            Like (or not) me
        </a>
      <div id="collapse2" class="collapse in">
        <p>Acceptance Rates</p>
        <p>Test Scores</p>
        <p>% By Race/Ethnicity</p>
        <p>% First Generation</p>
        <p>% Pell Grant Recipients</p>
      </div>
      <div class="panel">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
            Cost of Attendance
        </a>
        <div id="collapse3" class="collapse in">
          <p>Average Cost of Attendance</p>
          <p>Tutiton and Fees</p>
          <p>Average Net Price, by Income Level</p>
          <p>Debt at Graduation</p>
          <p>Estimated monthly loan payments</p>

        </div>
      </div>
      <div class="panel">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
            Completions and Post-Graduation Outcomes
        </a>
        <div id="collapse4" class="collapse in">
          <p>Completions rates for First Time-Full-Time Freshmen</p>
          <p>200 percent completion rates</p>
          <p>Post-graduation Earnings (7 years from graduation)</p>
          <p>Post-graduation Earnings (3 years from graduation)</p>
          <p>Post-graduation Earnings (1 year from graduation)</p>
          <p>Share of Former Students Earning Over $25,000</p>

        </div>
      </div>
    </div>
  </div> -->
<!--   <div class="map">


    <H1>MAP</H1>
    <map ng-transclude class='google-map' center='map.center'> 
  <marker position='marker.position'></marker>
</map>
  </div> -->
  <div class="results">
<!--     <div class="demo-card">
      <div class="card">
        <div class="card-header">
          This is a card header
        </div>
        <img class="card-img-top" src="http://placekitten.com/500/200">
        <div class="card-block">
          <h4 class="card-title">University Name</h4>
          <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
        <div class="card-block">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">School link</a>
        </div>
        <div class="card-block">
          <a href="#" class="btn btn-primary">Save</a>
        </div>
        <div class="card-block">
          <a href="#" class="btn btn-primary">Get more info</a>
        </div>

        <div class="card-footer text-muted">
          This is a card footer
        </div>
      </div>
    </div> -->
  </div>
<!-- 
  <div class="saved grid">
     <div>
  <H1>Grid test unlikely to work </H1>
<div id="grid1" ui-grid="{ data: schoolsFound.results.school.name }" class="grid"></div>  
</div>
      <div>
  <H1>Grid test unlikely to work 2 </H1>
<div id="grid1" ui-grid="{ data: schoolsFind.results.school.name }" class="grid"></div>  
</div> -->
    
  </div>